<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test name="Testler">
        <classes>
            <class name="PageTests.HomePagetests" />
            <class name="PageTests.CareerPageTests" />
            <class name="PageTests.QualityAssurancePageTests" />
            <class name="PageTests.JobsOptionsAboutQAPageTests" />
            <class name="PageTests.JobLeverPageTests" />
        </classes>
    </test>
</suite>
